.sectionlight{
    background-color: #ececec;
    padding: 2rem 2rem 0rem 2rem;

}
body{
    font-family: 'Cairo';
    background-color: white !important;
}
.sectionlighter{
    background-color: #ffffff;
    padding: 1.5rem;
    margin-top: 5.7rem;
}
.slider-item{
    font-family: 'Cairo';
    background-color: rgba(153,142,117,0.9);
    padding: 0.75rem 0.3rem 0.3rem 0.3rem;
    display: block;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right:auto ;
    margin-left: auto;
    border: 1px solid rgb(153,142,117);
    border-radius: 1px;
}
.slider-font{
    font-family: 'Cairo';
    line-height: 1;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    display: block;
    text-align: right;
}
.slider-date-font{
    font-family: 'Cairo';
    margin-right: 10px;
    font-size: 8pt;
    font-weight: lighter;
    color: white;
    text-align: right;
    display: block;
}
.loadmore{
    font-size: 20pt !important;
    color: #a09275 !important;
    text-align: center !important;
    display: block !important;
    margin: 0 auto !important;
}
.loadmore:hover{
    font-size: 20pt !important;
    color:#7e8b75 !important;
    text-align: center !important;
    display: block !important;
    margin: 0 auto !important;
}
.media-item-font{
    font-size: 10pt;
    font-weight: 600;
    color: #969696;
    text-align: right;
    display: block;
    height: 40px;
    overflow: hidden;
}

.prev{
    margin-top: 12px;
    margin-right: 15px;

}
.next{
    margin-top: 12px;
    margin-left: 15px;

}
.card-style{
    margin-bottom: 4px !important;
    background: none !important;
    border: 0px !important;
    width: 100% !important;
    margin-right:auto !important;
    margin-left: auto !important;
    display: block !important;
    max-width: 18rem !important;
}
.card-text-nopadding{
    padding: 1rem 0.2rem 1.25rem 1.25rem;

}
.card-hover-overlay {
    position: relative;

}
.card-hover-overlay .display-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.card-hover-overlay:hover .display-overlay {
    display: block;
    background: rgba(0, 0, 0, .6);

}
.itemphoto{
    padding: 3.8rem 2.2rem 6rem 6rem;
}
.itemvideo{
    padding: 4rem 2rem 6rem 7rem;

}

.owl-carousel .owl-item img{
    width: auto;
}
.modalicons{
    color:#a09275;
    padding-right: 5px;
}
.modalicons:hover{
    color:#7e8b75;
    padding-right: 5px;
}
.owl-prev {
    background: none!IMPORTANT;
}

.owl-next {
    background: none!IMPORTANT;
}
