.nav-sectionlight{
    background-color: #FFFFFF;
}
.main-navbar-font{
    font-family: 'Cairo';
    line-height: 1;
    font-size: 13pt;
    color: #ffffff;
    display: block;
    margin: auto;
    text-align: right;
}
.navbar-font{
    font-family: 'Cairo';
    line-height: 1;
    font-size: 13pt;
    color: #a6a6a6;
    display: block;
    text-align: right;
}
.naavitem{
    margin-top: 6px;
}
.btn-secondary{
    margin: auto;
    display: block;
    width: 100%;
    background-color: #a09275;
    border: 1px solid rgb(160,146,117);
    border-radius: 12px;
}
.btn-secondary:hover{
    margin: auto;
    display: block;
    width: 100%;
    background-color: #a09275;
    border: 1px solid rgb(160,146,117);
    border-radius: 12px;
}
.nvbar-right{
    margin-left: 25px;
}
.search-icon{
    margin-left: 4px;
    margin-top: 6px;
}
.icons{
    color:#a09275;
    float: right;
    padding-bottom: 5px;
}
.icons:hover{
    color:#7e8b75;
    float: right;
    padding-bottom: 5px;
}
::placeholder{
    font-family: "Cairo";
    font-size: 9pt;
    color: #6b6b6b;
    display: block;
    text-align: right;
}
.searchclass{
    width: 70px;
    border: solid 1px #ccc;
    padding: 9px 24px 9px 20px;
    border-radius: 1em;
    transition: all .5s;
}
.searchclass2{
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    border-radius: 1em;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    transition: all .5s;
}
.icons{
    color:#a09275;
    padding-bottom: 5px;
}
.nav-icons{
    padding-top: 30px;
    margin-right: auto;
}
.horz-header{
    height: 5px;
    background-color: #a09275;
}