
/*===============================Qutation start=================================*/

.qutation_image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 100%
}

.qoutation-section
{
	background-image: url("../images/slider/mosque.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.qouts
{
	font-size: 20px;
	text-align: right;
	font-family: cairo;
	color:  #aaaaaa;
}

.qouts-author
{
	font-size: 15px;
	text-align: left;
	font-style: oblique;
}

.quots-parent
{
	max-height: 230px;
	overflow: hidden;
}

.quotes-position
{
	padding-top: 15%;
}

.qoutation_right
{
	width: 100%;
	text-align: right;

}

.qoutation_left
{
	width: 100%;
  text-align: left;
}

/*==============================Qutation End==================================== */
