
.news-details-body
{
	background-color: #ececec !important;
	margin-top: 120px;
}

.card-img-top
{
	width: 100% !important;
	height: auto !important;
}


/*============================News Section Start====================================*/

.social-media-icons
{

}

.news-details-sub-icons
{
	padding: 6px;
}

.sub-news-footer
{
	margin: 0px 0px 8px 0px
}

.news-details-image
{
	height: 180px;
}

.news-details-body
{
	height: 70px;
}

.main-news-card
{
	height: 100%;
}

.news-card-main-img
{
	position: absolute;
	width: 100%;
	height: 400px;
}

.news-card-footer
{
	margin: 15px 0px;
	padding: 6px 2px;
}

.social-media-icons
{
	padding: 6px;
}

.mina-sub-news
{
	font-size: 13px;
	font-weight: bolder;
	max-height: 81px;
	overflow: hidden;
}

.sub-news
{
	font-size: 12px;
	font-weight: bolder;
	max-height: 40px;
	overflow: hidden;

}

.news-title
{
	max-height: 53px;
	overflow: hidden;
}

.sub-news-row
{
	padding: 0px 0px 10px 0px;
}

.card-body
{
	overflow: hidden;
}

.bio-card-footer
{
	padding: 6px 2px;
	margin:0px;
}
